<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multi step contact us form</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('../partails/navbar'); %>
    <div class="mt-8">
      <h2
        class="
          mb-4
          text-2xl
          font-bold
          text-center text-gray-800
          lg:text-3xl
          md:mb-6
        "
      >
       Nuevo Registro
      </h2>

      <p class="max-w-screen-md mx-auto text-center text-gray-500 md:text-lg">
        Porfavor si fuera amable, completaria todos los campoas gracias
      </p>
    </div>
    <div class="text-gray-600">
      <div class="container flex flex-col flex-wrap px-5 py-4 mx-auto">
        <div class="flex flex-wrap mx-auto">
          <a 
            class="
            inline-flex
            items-center
            justify-center
            w-1/2
            py-3
            font-medium
            leading-none
            tracking-wider
            border-b-2 border-gray-200
            sm:px-6 sm:w-auto sm:justify-start
            title-font
            hover:text-gray-900
            "
          >
            DATOS PERSONALES
          </a>
          <a
            class="
              
              
              inline-flex
              items-center
              justify-center
              w-1/2
              py-3
              font-medium
              leading-none
              tracking-wider
              text-indigo-500
              bg-gray-100
              border-b-2 border-indigo-500
              rounded-t
              sm:px-6 sm:w-auto sm:justify-start
              title-font
            "
          >
            FORMACION ACADEMICA
          </a>
          <a href=""
            class="
              inline-flex
              items-center
              justify-center
              w-1/2
              py-3
              font-medium
              leading-none
              tracking-wider
              border-b-2 border-gray-200
              sm:px-6 sm:w-auto sm:justify-start
              title-font
              hover:text-gray-900
            "
          >
          EXPERIENCIA PROFESIONAL
             
          </a>

        </div>

        
      </div>
    </div>
  </body>
</html>